h1 { width: 100%; text-align: center; border-bottom: 1px solid black; }
table h1, h2, h3 {border-bottom: 1px dotted black;}
.alltran td { vertical-align: top; }
.desc table td, .desc table th {
  background: #ddf;
  border-right: 1px dotted black;
  border-bottom: 1px dotted black;
  padding: 0 1em;
}
body { background: #f3f3f3; color: #000; }
.no { background: #ccf; font-size: 300%; font-weight: bold; color: #000; }
.no a { color: #000; text-decoration: none; }
.lang { font-size: 150%; background: #ccf; color: #000; }
.lang a { color: #000; text-decoration: none; }
.langsub { font-size: 125%; background: #ddf; color: #000; }
td { background: #fff; color: #000; text-align: center; padding: 0 1em; }
.text { background: #f3f3f3; color: #000; }
/*td { border: 1px solid black; }
th { border: 1px solid black; }
table { width: 100%; }*/
.desc td { text-align: left; vertical-align: top; padding: 0 1em;}
.desc th { text-align: left; vertical-align: top; padding: 0 1em;  }
.transl { background: #f3f3f3; color: #000; }
.grammar { border-left: 1px solid black; background: #ddf; color: #000; }
.desc h1 { font-size: 150%; }
.desc h2 { font-size: 110%; }
.desc h3{ font-size: 90%; }
.glossary { border-right: 1px solid black; background: #ddf; color: #000; }
.gloss { font-style: italic; }
p:not(.langlinks), li { width: 35em; }
.prev p { margin: 0; }
.text h1 { font-size: 130%;}
.hidden { font-size: 25%; }
.alltran td { vertical-align: top; }
